@charset "utf-8";

/* @media (max-width: 768) {
  
} */

/* bace */
body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

#grobal-container {
  transition: all .7s;
}

dd {
  margin: 0;
}

.label,
.input,
.textarea,
.select,
.button {
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(45, 86, 97, 0.9);
}

.header-logo {
  margin: 0;
  padding: 10px;
}

.header-logo > a {
  display: block;
}

.header-logo > svg:hover {
  box-shadow: #333;
}


.header-navlist {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navitem > a {
  display: block;
  padding: 10px;
  color: rgb(196, 193, 193);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: border-color .25s;
}

.header-navitem > a:hover {
  border-bottom: 2px solid rgb(183, 177, 177);
}

.mobile-menu-btn {
  opacity: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 100;
}

.mobile-menu-btn:hover {
  cursor: pointer;
}

.mobile-menu-btn > span {
    background-color: white;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    transition: all .7s;
}

.mobile-menu-btn > span:last-child {
  margin-bottom: 0;
}

#grobal-container.menu-open {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  padding: 0 40px;
  -webkit-transition: opacity .2s, -webkit-transform .3s;
  transition: opacity .2s, -webkit-transform .3s;
  transition: transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s, -webkit-transform .3s;
  opacity: 1;
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu-btn {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-open .mobile-menu-btn > span {
  background-color: white;
}

.menu-open .mobile-menu-btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu-btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu-btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}


/* hero */
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero  > strong {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: #fff;
  display: block;
  z-index: 3;
}

.hero > video {
  position: absolute;
  z-index: 1;
  height: 105%;
}

.hero-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* section */
.section {
  padding: 30px 15px;
}

.section.section-secondary {
  background-color: rgb(237, 233, 233);
}

.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px 0;
}


.about {
  margin: 0;
  display: flex;
}

/* .about-image {} */
.about-caption {
  padding-left: 15px;
}

.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .mobile-menu-btn{
    opacity: 1;
  }

  header nav{
    opacity: 0;
  }

  .hero > strong {
    font-size: 50px;
  }
  
  .about {
    display: block;
  }

  .about-image {
    max-width: 100%;
  }

  .about-headline {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}
/* .about-description {} */

.grid {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.grid-item {
  list-style: none;
}

.grid-col-2 > .grid-item {
  width: 50%;
}
.grid-col-3 > .grid-item {
  width: 33.3%;
}
.grid-col-4 > .grid-item {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }

  .grid-col-2 > .grid-item,
  .grid-col-3 > .grid-item,
  .grid-col-4 > .grid-item {
    width: 100%;
    margin: 20px 0;
  }
}

.feature {
  text-align: center;
  padding: 0 15px;
}

.feature-headline {
  font-weight: bold;
  margin: 0 0 20px;
}

.feature-img {
  margin: 0 0 20px;
}

.feature-description {
  text-align: left;
  margin: 0;
}

/* card */
.card {
  padding: 0 10px;
}

.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color .25s;
  padding: 10px;
}

.card-link:hover {
  background-color: #eee;
}

.card-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 5px 10px;
}

.card-headline {
  margin: 0;
}

.card-description {
  margin: 0;
}

/* avator */
.avator {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.avator-name {
  font-weight: bold;
  padding-left: 15px;
}

.card-img2 {
  border-radius: 50%;
  overflow: hidden;
}

.section-button {
  text-align: center;
  margin-top: 50px;
}

.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background: #333;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 3px 3px 20px rgb(56, 56, 56);
  transition: box-shadow .4s;
  border: 0;
}

.button:hover {
  box-shadow: none;
}

/* input, radio, select, textarea */

.select,
.input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
}

.radio {
  margin: 0 10px;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  min-width: 500px;
  min-height: 100px;
}

@media (max-width: 768px) {
.select,
.input,
.textarea {
 min-width: auto;
 width: 100%;
}
}


/* form */
.form-table {
  margin: 0 auto;
}

.form-table th {
  padding: 10px;
  text-align: left;
}

.form-table td {
  padding: 10px;
}

form > .section-button > button {
  background-color: #92d3ca;
  box-shadow: 2px 2px 10px rgb(40, 40, 74);
}


.works {
  margin: 40px 0;
  padding: 20px;
  text-align: center;
}

.works > img {
  margin: 0 15px;
  width: calc((100% - 190px) / 5);
}

/* footer */
.footer {
  background-color: #333;
  color: #fff;
}

.footer-map {
  margin: 0;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-map > iframe {
  width: 60%;
}

.footer-maplogo {
  font-size: 25px;
  font-weight: bold;
}

.footer-maplogo > svg {
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
}

.footer-mapaddress {
  font-style: normal;
}

.footer-mapaddress > a {
  color: white;
}

.footer-line {
  border-color: #444;
}

.footer-copy {
  display: block;
  text-align: center;
  padding: 10px;
}

.footer-mapinfo {
  width: 40%;
  padding: 15px;
}

@media (max-width: 768px) {
  .footer-map > iframe {
    height: 200px; 
 }
 .footer-maplogo {
  font-size: 15px;
  font-weight: bold;
}

.footer-mapaddress {
  font-size: 15px;
}

.footer-mapaddress  > a {
   font-size: 10px;
}

.footer-maplogo > svg {
  margin-right: 10px;
  margin-bottom: 10px;
  display: block;
  width: 50px;
  height: 50px;
}

}



